*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}


body {
    font-family: "Tw Cen MT";
    background-image: url(images/footer_bg.png);
    height: 600px;
    color: white;
}

.start{
    position: sticky;
    z-index: 2;
    top:0px;
    display: flex;
    justify-content: space-between;
    background-color:black;
    
}
.logo {
    padding-top: 3px;
    padding-bottom:3px;
    margin-left: 3%;
    height: 55px;
}


.contacts {
    padding-top: 13px;
    margin-right: 3%;
    word-spacing: 40px;
}


.contacts ul,
.contacts li {
  list-style-type: none;
}

.contacts li {
    display: inline-block;
   position: relative;
}

a {
    transition: all .4s;
}

.contacts li a:hover {
   color: red;
}

a:link {color: white}
a:visited {color:white}
a {
    text-decoration: none; 
    transition: all .4s;
}

a:hover {
    color: red;
 }

.success {
    font-size: 60px;
    width: 80%;
    margin-left: 12%;
    margin-right: 10%;

}
.back {font-size: 38px;
    margin-left: 10%;
    margin-top: 2%;
}

.text {position: relative;
    width: 100vw;
    margin-top: 17%;
}

@media screen and (max-width: 850px) {
    .contacts {
        padding-top: 13px;
        margin-right: 2%;
        word-spacing: 15px;
    }
    .logo {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 2%;
        height: 55px;
        width: 35%;
    }

}

@media screen and (max-width: 700px) {
    .contacts {
        padding-top: 13px;
        margin-right: 2%;
        word-spacing: 10px;
        font-size: smaller;
    }
    .logo {
        padding-top: 3px;
        padding-bottom: 3px;
        margin-left: 2%;
        height: 45px;
        width: 35%;
    }
    .success {
        font-size: 50px;
        width: 80%;
        margin-left: 12%;
        margin-right: 10%;
    
    }
}
@media screen and (max-width: 600px) {
    .start{
        display: flex;
        width: 100%;
        background-color:black;
        justify-content: center;
        flex-direction: column;
        /* padding-left: 15%;
        padding-right: 15%; */
        text-align: center;
        
    }
    .logo {
        padding-top: 6px;
        padding-bottom: 6px;
        height: 40px;
        width: 40%;
        margin-left: 30%;

    }
    .contacts {
        border-top:1px solid white;
        padding-top: 13px;
        word-spacing: 10px;
        width: 100%;
    }
    .success {
        font-size: 35px;
        width: 80%;
        margin-left: 12%;
        margin-right: 10%;
    
    }
    .back {font-size: 30px;
        margin-left: 10%;
        margin-top: 2%;
    }
}
@media screen and (max-width: 350px) {
    .start{
        display: flex;
        width: 100%;
        background-color:black;
        justify-content: center;
        flex-direction: column;
        /* padding-left: 15%;
        padding-right: 15%; */
        text-align: center;
        
    }
    .logo {
        padding-top: 6px;
        padding-bottom: 6px;
        height: 40px;
        width: 60%;
        margin-left: 20%;

    }
    .contacts {
        border-top:1px solid white;
        padding-top: 13px;
        word-spacing: 10px;
        width: 100%;
    }
    .contacts li {
        display: block;
    }
    .success {
        font-size: 30px;
        width: 80%;
        margin-left: 12%;
        margin-right: 10%;
    }
    .back {font-size: 30px;
        margin-left: 10%;
        margin-top: 2%;
    }
}
